#top-logo {
    background-color: white;
}


body {
    background-color: #70abaf;
}

.container {
    background-color: white;
    border-radius: 5px;
    color: black;
}

h1 {
    color:
            #2a555e;
}